@{
     ViewData["Title"] = "Home Page";
}
<div class="login-box">
     <div class="login-logo">
          <a href="../../index2.html"><b>Agreement</b>Management</a>
     </div>
     <!-- /.login-logo -->
     <div class="card">
          <div class="card-body login-card-body">
               <p class="login-box-msg">Sign in to start your session</p>

               <form action="../../index3.html">
                    <div class="input-group mb-3">
                         <input id="txtEmail" type="email" class="form-control" placeholder="Email">
                         <div class="input-group-append">
                              <div class="input-group-text">
                                   <span class="fas fa-envelope"></span>
                              </div>
                         </div>
                    </div>
                    <div class="input-group mb-3">
                         <input id="txtPassword" type="password" class="form-control" placeholder="Password">
                         <div class="input-group-append">
                              <div class="input-group-text">
                                   <span class="fas fa-lock"></span>
                              </div>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-8">
                              <div class="icheck-primary">
                                   <input type="checkbox" id="remember">
                                   <label for="remember">
                                        Remember Me
                                   </label>
                              </div>
                         </div>
                         <!-- /.col -->
                         <div class="col-4">
                              <button type="button" class="btn btn-primary btn-block" id="btnSignIn">Sign In</button>
                         </div>
                         <!-- /.col -->
                    </div>
               </form>

               <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                         <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                         <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
               </div>
               <!-- /.social-auth-links -->

               <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
               </p>
               <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
               </p>
          </div>
          <!-- /.login-card-body -->
     </div>
</div>
<script>
     var apiURL = "http://localhost:56802/api";
     $("body").on("click", "#btnSignIn", function (e) {

          var send_data = {
               "Email": $("#txtEmail").val(),
               "PasswordHash": $("#txtPassword").val()
          };

          var json = JSON.stringify(send_data);

          $.ajax({
               type: "POST",
               crossDomain: true,
               data: json,
               contentType: "application/json; charset=utf-8",
               dataType: 'json',
               async: true,
               //headers: {
               //     Authorization: 'Bearer ' + token
               //},
               url: apiURL + "/Login/Authentication",             
               success: function (data) {
                    if (data.token != null) {
                         var url = "/Admin/Agreement?email=" + data.username + "&token=" + data.token;
                         window.location.href = url;
                    }
                    else {
                         alert("Fail");
                    }

               },
               error: function (data) {
                    alert(data);
               }
          });
     })
</script>